body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header{
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d solid 3px;
}
header a{
    counter-reset: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
}
header ul{
    padding: 0;
    margin: 0;
}
header li{
    float: left;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .victor, header .name a{
    color: #e5491d;
    font-weight: bold;

}
li.name{
    color: #e5491d;
    font-weight: bold;
    color: blue;
}
header a :hover{
    color: #cccccc;
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    background-image: url(../download.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
#newletter{
    padding: 15px;
    color: #ffffff;
    background-color: #35424a;
    
    
}
h1.come{
    float: left;
    
}
form.go{
    float: right;
    margin-top: 25px;
}
 input{
    padding: 4px;
    height: 25px;
    width: 250px;
    
}
.button_1{
    background-color: #e8491d; 
    height: 30px;
    border: 0;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}
#boxes{
    margin-top: 10px;
    
}
.box{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;

    
}
img{
    background-color: blue;
    width: 90px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #e8491d;
    text-align: center;
}
